In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")

### Read the Data

In [2]:
raw_data = pd.read_excel(r"C:\zubeda\ML Assignement\Online Retail.xlsx")
raw_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

### Understanding and Pre-processing

In [3]:
raw_data.shape

(541909, 8)

In [4]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [5]:
raw_data.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [6]:
user_data = raw_data.dropna()
user_data.shape

(406829, 8)

In [7]:
user_data.Country.value_counts().reset_index()

                   index  Country
0         United Kingdom   361878
1                Germany     9495
2                 France     8491
3                   EIRE     7485
4                  Spain     2533
5            Netherlands     2371
6                Belgium     2069
7            Switzerland     1877
8               Portugal     1480
9              Australia     1259
10                Norway     1086
11                 Italy      803
12       Channel Islands      758
13               Finland      695
14                Cyprus      622
15                Sweden      462
16               Austria      401
17               Denmark      389
18                 Japan      358
19                Poland      341
20                   USA      291
21                Israel      250
22           Unspecified      244
23             Singapore      229
24               Iceland      182
25                Canada      151
26                Greece      146
27                 Malta      127
28  United Arab Emirates       68
29    European Community       61
30                   RSA       58
31               Lebanon       45
32             Lithuania       35
33                Brazil       32
34        Czech Republic       30
35               Bahrain       17
36          Saudi Arabia       10

In [8]:
user_data.describe()

            Quantity      UnitPrice     CustomerID
count  406829.000000  406829.000000  406829.000000
mean       12.061303       3.460471   15287.690570
std       248.693370      69.315162    1713.600303
min    -80995.000000       0.000000   12346.000000
25%         2.000000       1.250000   13953.000000
50%         5.000000       1.950000   15152.000000
75%        12.000000       3.750000   16791.000000
max     80995.000000   38970.000000   18287.000000

**Creating Amount Feature**

In [9]:
user_data["Amount"] = user_data.Quantity * user_data.UnitPrice

#remove negative amount
user_data = user_data[user_data["Amount"] > 0]

user_data.shape

(397884, 9)

In [10]:
user_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Amount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [11]:
user_data.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
Amount         0
dtype: int64

### Create RFM model (Recency, Frequency, Monetary)

**Create customer Recency feature**

In [12]:
import datetime

#reference date as one day before the last transaction
ref_date = user_data.InvoiceDate.max()
ref_date = ref_date + datetime.timedelta(days=1)     #timedelta function returns to total number of seconds
ref_date

Timestamp('2011-12-10 12:50:00')

In [13]:
user_data['days_last_purchase'] = ref_date - user_data.InvoiceDate
user_data['days_last_purchase_num'] = user_data['days_last_purchase'].astype('timedelta64[D]')
user_data['days_last_purchase_num'].sample(5)

380869     64.0
444932     33.0
178282    217.0
481909     21.0
149395    246.0
Name: days_last_purchase_num, dtype: float64

In [14]:
#Customer transaction history
customer_hist_df = pd.DataFrame(user_data.groupby("CustomerID")["days_last_purchase_num"].min()).reset_index()
customer_hist_df.rename(columns={"days_last_purchase_num": "Recency"}, inplace=True)

customer_hist_df.head()

   CustomerID  Recency
0     12346.0    326.0
1     12347.0      2.0
2     12348.0     75.0
3     12349.0     19.0
4     12350.0    310.0

**Create Frequency and Monetary (Amount) feature**

In [15]:
customer_monetary = user_data[["CustomerID","Amount"]].groupby('CustomerID')["Amount"].sum().reset_index()
customer_hist_df = customer_hist_df.merge(customer_monetary, how='outer')

customer_freq = user_data[['CustomerID','Amount']].groupby('CustomerID')["Amount"].count().reset_index()
customer_freq.rename(columns={'Amount': 'Frequency'}, inplace=True)
customer_hist_df = customer_hist_df.merge(customer_freq, how='outer')

customer_hist_df = pd.DataFrame(customer_hist_df, columns=['CustomerID','Recency','Amount','Frequency'])
customer_hist_df.head()

   CustomerID  Recency    Amount  Frequency
0     12346.0    326.0  77183.60          1
1     12347.0      2.0   4310.00        182
2     12348.0     75.0   1797.24         31
3     12349.0     19.0   1757.55         73
4     12350.0    310.0    334.40         17

In [16]:
from sklearn import preprocessing

customer_hist_df['Recency_log'] = customer_hist_df["Recency"].apply(np.log)
customer_hist_df['Frequency_log'] = customer_hist_df["Frequency"].apply(np.log)
customer_hist_df['Amount_log'] = customer_hist_df["Amount"].apply(np.log)
features = ["Recency_log","Frequency_log","Amount_log"]

X = pd.DataFrame(customer_hist_df[features].values, columns=features)
X.head()

   Recency_log  Frequency_log  Amount_log
0     5.786897       0.000000   11.253942
1     0.693147       5.204007    8.368693
2     4.317488       3.433987    7.494007
3     2.944439       4.290459    7.471676
4     5.736572       2.833213    5.812338

### KMeans Clustering

In [17]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

n_clusters = [2, 3, 4, 5, 6]

for k in n_clusters:
    kmeans = KMeans(n_clusters=k, random_state=112)
    predict = kmeans.fit_predict(X)
    score = silhouette_score(X, predict, random_state=1)
    print("k = {}, Score = {}".format(k, score))

k = 2, Score = 0.3945178445812027
k = 3, Score = 0.3023683059862129
k = 4, Score = 0.30625195716981807
k = 5, Score = 0.2807436175747306
k = 6, Score = 0.2822786330537753

In [18]:
kmeans = KMeans(n_clusters=2)
kmeans.fit(X)

KMeans(n_clusters=2)

In [19]:
customer_hist_df1 = customer_hist_df.set_index("CustomerID")[["Recency_log", "Frequency_log", "Amount_log"]]
customer_hist_df1["Cluster"] = kmeans.labels_
customer_hist_df1.sample(10)

            Recency_log  Frequency_log  Amount_log  Cluster
CustomerID
16403.0        5.743003       2.302585    5.178971        1
12836.0        4.077537       5.164786    7.868201        0
16723.0        4.510860       3.761200    6.378681        1
16235.0        3.713572       3.828641    6.765396        1
16875.0        4.204693       4.718499    7.647562        0
17120.0        5.451038       2.890372    5.728345        1
17640.0        4.465908       1.609438    6.432393        1
14601.0        2.397895       1.945910    5.365789        1
13171.0        3.091042       3.828641    6.149344        0
15193.0        4.110874       2.944439    6.213247        1

In [20]:
test = pd.DataFrame(customer_hist_df1.loc[13339.0, features]).T
print("Actual:")
print(customer_hist_df1.loc[13339.0, "Cluster"])
predict = kmeans.predict(test)
print("Predicted:")
predict[0]

Actual:
1
Predicted:

1

In [21]:
y = pd.DataFrame(user_data.groupby('CustomerID')["Quantity"].sum())
y

            Quantity
CustomerID
12346.0        74215
12347.0         2458
12348.0         2341
12349.0          631
12350.0          197
...              ...
18280.0           45
18281.0           54
18282.0          103
18283.0         1397
18287.0         1586

[4338 rows x 1 columns]

In [22]:
y["Quantity_log"] = np.log(y["Quantity"])
y

            Quantity  Quantity_log
CustomerID
12346.0        74215     11.214722
12347.0         2458      7.807103
12348.0         2341      7.758333
12349.0          631      6.447306
12350.0          197      5.283204
...              ...           ...
18280.0           45      3.806662
18281.0           54      3.988984
18282.0          103      4.634729
18283.0         1397      7.242082
18287.0         1586      7.368970

[4338 rows x 2 columns]

### Linear Regression

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y["Quantity_log"], random_state = 100)

In [24]:
from sklearn.linear_model import LinearRegression

lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

LinearRegression()

In [25]:
predicted = lr_model.predict(X_test)
result_df = pd.DataFrame(columns=["Predicted_quantity", "Actual_quantity"])
result_df["Predicted_quantity"] = predicted
result_df["Actual_quantity"] = y_test.values
result_df.index = y_test.index
result_df

            Predicted_quantity  Actual_quantity
CustomerID
16422.0               9.719878        10.425372
15730.0               6.420626         6.535241
14607.0               8.871106         9.372969
12789.0               3.822512         1.386294
15004.0               6.599926         6.445720
...                        ...              ...
16713.0               8.365572         8.360773
16892.0               5.931934         5.476464
13213.0               6.728746         7.215240
14306.0               6.877620         6.980076
14713.0               7.463782         7.387090

[1085 rows x 2 columns]

In [26]:
from sklearn.metrics import r2_score, mean_squared_error
import math

rmse = math.sqrt(mean_squared_error(y_test, predicted))
r2 = r2_score(y_test, predicted)

print('\nRMSE:', rmse)
print('R2 Score:', r2)

RMSE: 0.5605270208477203
R2 Score: 0.8392596998327324

In [27]:
desc_count = np.arange(1, len(pd.unique(user_data["Description"])) + 1)
desc = pd.unique(user_data["Description"])
desc_dict = dict(zip(desc, desc_count))
desc_dict

{'WHITE HANGING HEART T-LIGHT HOLDER': 1,
 'WHITE METAL LANTERN': 2,
 'CREAM CUPID HEARTS COAT HANGER': 3,
 'KNITTED UNION FLAG HOT WATER BOTTLE': 4,
 'RED WOOLLY HOTTIE WHITE HEART.': 5,
 'SET 7 BABUSHKA NESTING BOXES': 6,
 'GLASS STAR FROSTED T-LIGHT HOLDER': 7,
 'HAND WARMER UNION JACK': 8,
 'HAND WARMER RED POLKA DOT': 9,
 'ASSORTED COLOUR BIRD ORNAMENT': 10,
 "POPPY'S PLAYHOUSE BEDROOM ": 11,
 "POPPY'S PLAYHOUSE KITCHEN": 12,
 'FELTCRAFT PRINCESS CHARLOTTE DOLL': 13,
 'IVORY KNITTED MUG COSY ': 14,
 'BOX OF 6 ASSORTED COLOUR TEASPOONS': 15,
 'BOX OF VINTAGE JIGSAW BLOCKS ': 16,
 'BOX OF VINTAGE ALPHABET BLOCKS': 17,
 'HOME BUILDING BLOCK WORD': 18,
 'LOVE BUILDING BLOCK WORD': 19,
 'RECIPE BOX WITH METAL HEART': 20,
 'DOORMAT NEW ENGLAND': 21,
 'JAM MAKING SET WITH JARS': 22,
 'RED COAT RACK PARIS FASHION': 23,
 'YELLOW COAT RACK PARIS FASHION': 24,
 'BLUE COAT RACK PARIS FASHION': 25,
 'BATH BUILDING BLOCK WORD': 26,
 'ALARM CLOCK BAKELIKE PINK': 27,
 'ALARM CLOCK BAKELIKE RED ': 28,
 'ALARM CLOCK BAKELIKE GREEN': 29,
 'PANDA AND BUNNIES STICKER SHEET': 30,
 'STARS GIFT TAPE ': 31,
 'INFLATABLE POLITICAL GLOBE ': 32,
 'VINTAGE HEADS AND TAILS CARD GAME ': 33,
 'SET/2 RED RETROSPOT TEA TOWELS ': 34,
 'ROUND SNACK BOXES SET OF4 WOODLAND ': 35,
 'SPACEBOY LUNCH BOX ': 36,
 'LUNCH BOX I LOVE LONDON': 37,
 'CIRCUS PARADE LUNCH BOX ': 38,
 'CHARLOTTE BAG DOLLY GIRL DESIGN': 39,
 'RED TOADSTOOL LED NIGHT LIGHT': 40,
 ' SET 2 TEA TOWELS I LOVE LONDON ': 41,
 'VINTAGE SEASIDE JIGSAW PUZZLES': 42,
 'MINI JIGSAW CIRCUS PARADE ': 43,
 'MINI JIGSAW SPACEBOY': 44,
 'MINI PAINT SET VINTAGE ': 45,
 'POSTAGE': 46,
 "PAPER CHAIN KIT 50'S CHRISTMAS ": 47,
 'EDWARDIAN PARASOL RED': 48,
 'RETRO COFFEE MUGS ASSORTED': 49,
 'SAVE THE PLANET MUG': 50,
 'VINTAGE BILLBOARD DRINK ME MUG': 51,
 'VINTAGE BILLBOARD LOVE/HATE MUG': 52,
 'WOOD 2 DRAWER CABINET WHITE FINISH': 53,
 'WOOD S/3 CABINET ANT WHITE FINISH': 54,
 'WOODEN PICTURE FRAME WHITE FINISH': 55,
 'WOODEN FRAME ANTIQUE WHITE ': 56,
 'VICTORIAN SEWING BOX LARGE': 57,
 'HOT WATER BOTTLE TEA AND SYMPATHY': 58,
 'RED HANGING HEART T-LIGHT HOLDER': 59,
 'JUMBO BAG PINK POLKADOT': 60,
 'JUMBO  BAG BAROQUE BLACK WHITE': 61,
 'JUMBO BAG CHARLIE AND LOLA TOYS': 62,
 'STRAWBERRY CHARLOTTE BAG': 63,
 'RED 3 PIECE RETROSPOT CUTLERY SET': 64,
 'BLUE 3 PIECE POLKADOT CUTLERY SET': 65,
 'SET/6 RED SPOTTY PAPER PLATES': 66,
 'LUNCH BAG RED RETROSPOT': 67,
 'STRAWBERRY LUNCH BOX WITH CUTLERY': 68,
 'LUNCH BOX WITH CUTLERY RETROSPOT ': 69,
 'PACK OF 72 RETROSPOT CAKE CASES': 70,
 'PACK OF 60 DINOSAUR CAKE CASES': 71,
 'PACK OF 60 PINK PAISLEY CAKE CASES': 72,
 '60 TEATIME FAIRY CAKE CASES': 73,
 'TOMATO CHARLIE+LOLA COASTER SET': 74,
 'CHARLIE & LOLA WASTEPAPER BIN FLORA': 75,
 'RED CHARLIE+LOLA PERSONAL DOORSIGN': 76,
 'JUMBO STORAGE BAG SUKI': 77,
 'JUMBO BAG PINK VINTAGE PAISLEY': 78,
 'JAM MAKING SET PRINTED': 79,
 'RETROSPOT TEA SET CERAMIC 11 PC ': 80,
 'GIRLY PINK TOOL SET': 81,
 'JUMBO SHOPPER VINTAGE RED PAISLEY': 82,
 'AIRLINE LOUNGE,METAL SIGN': 83,
 'WHITE SPOT RED CERAMIC DRAWER KNOB': 84,
 'RED DRAWER KNOB ACRYLIC EDWARDIAN': 85,
 'CLEAR DRAWER KNOB ACRYLIC EDWARDIAN': 86,
 'PHOTO CLIP LINE': 87,
 'FELT EGG COSY CHICKEN': 88,
 'PIGGY BANK RETROSPOT ': 89,
 'SKULL SHOULDER BAG': 90,
 "YOU'RE CONFUSING ME METAL SIGN ": 91,
 'COOK WITH WINE METAL SIGN ': 92,
 'GIN + TONIC DIET METAL SIGN': 93,
 'YELLOW BREAKFAST CUP AND SAUCER': 94,
 'PINK BREAKFAST CUP AND SAUCER ': 95,
 'PAPER CHAIN KIT RETROSPOT': 96,
 'SMALL HEART FLOWERS HOOK ': 97,
 'TEA TIME DES TEA COSY': 98,
 'FELT EGG COSY WHITE RABBIT ': 99,
 'ZINC WILLIE WINKIE  CANDLE STICK': 100,
 'CERAMIC CHERRY CAKE MONEY BANK': 101,
 'RETROSPOT LARGE MILK JUG': 102,
 'SET OF 6 FUNKY BEAKERS': 103,
 'EDWARDIAN PARASOL BLACK': 104,
 'EDWARDIAN PARASOL NATURAL': 105,
 'CERAMIC STRAWBERRY CAKE MONEY BANK': 106,
 'BLUE OWL SOFT TOY': 107,
 'BALLOON ART MAKE YOUR OWN FLOWERS': 108,
 'GLASS CLOCHE SMALL': 109,
 'GUMBALL MONOCHROME COAT RACK': 110,
 'DOORMAT FANCY FONT HOME SWEET HOME': 111,
 'VINTAGE SNAKES & LADDERS': 112,
 'CHOCOLATE CALCULATOR': 113,
 'RECYCLING BAG RETROSPOT ': 114,
 'TOY TIDY PINK POLKADOT': 115,
 'ANTIQUE GLASS DRESSING TABLE POT': 116,
 'IVORY GIANT GARDEN THERMOMETER': 117,
 '3 TIER CAKE TIN GREEN AND CREAM': 118,
 '3 TIER CAKE TIN RED AND CREAM': 119,
 'SET 3 WICKER OVAL BASKETS W LIDS': 120,
 'WOOD BLACK BOARD ANT WHITE FINISH': 121,
 'COLOUR GLASS T-LIGHT HOLDER HANGING': 122,
 'HANGING METAL HEART LANTERN': 123,
 'HANGING MEDINA LANTERN SMALL': 124,
 'NATURAL SLATE HEART CHALKBOARD ': 125,
 'HEART OF WICKER SMALL': 126,
 'HEART OF WICKER LARGE': 127,
 'WHITE LOVEBIRD LANTERN': 128,
 'CLASSIC METAL BIRDCAGE PLANT HOLDER': 129,
 'CREAM HEART CARD HOLDER': 130,
 'ENAMEL FLOWER JUG CREAM': 131,
 'ENAMEL FIRE BUCKET CREAM': 132,
 'ENAMEL BREAD BIN CREAM': 133,
 'JUMBO BAG DOLLY GIRL DESIGN': 134,
 'TRADITIONAL CHRISTMAS RIBBONS': 135,
 'ORGANISER WOOD ANTIQUE WHITE ': 136,
 'LUNCH BAG DOLLY GIRL DESIGN': 137,
 'WHITE WIRE EGG HOLDER': 138,
 'JUMBO BAG RED RETROSPOT': 139,
 'CHILLI LIGHTS': 140,
 'LIGHT GARLAND BUTTERFILES PINK': 141,
 'WOODEN OWLS LIGHT GARLAND ': 142,
 'FAIRY TALE COTTAGE NIGHTLIGHT': 143,
 'HOME SMALL WOOD LETTERS': 144,
 'GINGHAM HEART  DOORSTOP RED': 145,
 'FIVE HEART HANGING DECORATION': 146,
 'ASSORTED BOTTLE TOP  MAGNETS ': 147,
 'FRIDGE MAGNETS US DINER ASSORTED': 148,
 'HOMEMADE JAM SCENTED CANDLES': 149,
 'FRIDGE MAGNETS LES ENFANTS ASSORTED': 150,
 'ROSE CARAVAN DOORSTOP': 151,
 '5 HOOK HANGER MAGIC TOADSTOOL': 152,
 'CHRISTMAS LIGHTS 10 REINDEER': 153,
 'VINTAGE UNION JACK CUSHION COVER': 154,
 'SET OF 3 COLOURED  FLYING DUCKS': 155,
 'SET OF 3 GOLD FLYING DUCKS': 156,
 'RED RETROSPOT UMBRELLA': 157,
 'BLACK/BLUE POLKADOT UMBRELLA': 158,
 'RED DINER WALL CLOCK': 159,
 'BLUE DINER WALL CLOCK': 160,
 'IVORY DINER WALL CLOCK': 161,
 'LARGE HEART MEASURING SPOONS': 162,
 'SMALL HEART MEASURING SPOONS': 163,
 'JAM JAR WITH PINK LID': 164,
 'JAM JAR WITH GREEN LID': 165,
 'ROSE COTTAGE KEEPSAKE BOX ': 166,
 'HANGING HEART ZINC T-LIGHT HOLDER': 167,
 'PAPER CHAIN KIT VINTAGE CHRISTMAS': 168,
 'DISCO BALL CHRISTMAS DECORATION': 169,
 'SMALL POPCORN HOLDER': 170,
 'LARGE POPCORN HOLDER ': 171,
 'SET/20 RED RETROSPOT PAPER NAPKINS ': 172,
 'SET/6 RED SPOTTY PAPER CUPS': 173,
 'POLKADOT RAIN HAT ': 174,
 'DELUXE SEWING KIT ': 175,
 'RETROSPOT HEART HOT WATER BOTTLE': 176,
 'ENGLISH ROSE HOT WATER BOTTLE': 177,
 'PHOTO CUBE': 178,
 '3 STRIPEY MICE FELTCRAFT': 179,
 'SET OF 6 SOLDIER SKITTLES': 180,
 'TRADITIONAL WOODEN SKIPPING ROPE': 181,
 'WOODEN BOX OF DOMINOES': 182,
 'RUSTIC  SEVENTEEN DRAWER SIDEBOARD': 183,
 'PARTY CONES CARNIVAL ASSORTED': 184,
 'PARTY CONES CANDY ASSORTED': 185,
 'PICNIC BASKET WICKER SMALL': 186,
 'STAR DECORATION PAINTED ZINC ': 187,
 'RETROSPOT LAMP': 188,
 'FANCY FONT BIRTHDAY CARD, ': 189,
 'HAND WARMER SCOTTY DOG DESIGN': 190,
 'HAND WARMER OWL DESIGN': 191,
 'HAND WARMER RED RETROSPOT': 192,
 'DOG BOWL CHASING BALL DESIGN': 193,
 'CLOTHES PEGS RETROSPOT PACK 24 ': 194,
 'HAND OVER THE CHOCOLATE   SIGN ': 195,
 'TRAVEL SEWING KIT': 196,
 'BLACK HEART CARD HOLDER': 197,
 'CHICK GREY HOT WATER BOTTLE': 198,
 'SMALL GLASS HEART TRINKET POT': 199,
 'ALARM CLOCK BAKELIKE IVORY': 200,
 'ALARM CLOCK BAKELIKE ORANGE': 201,
 'HAND WARMER BIRD DESIGN': 202,
 'IVORY EMBROIDERED QUILT ': 203,
 'SET OF 3 BLACK FLYING DUCKS': 204,
 'PACK OF 12 RED RETROSPOT TISSUES ': 205,
 'RED RETROSPOT MUG': 206,
 'BABUSHKA LIGHTS STRING OF 10': 207,
 'DOORMAT FAIRY CAKE': 208,
 'STRAWBERRY CERAMIC TRINKET BOX': 209,
 'PINK DOUGHNUT TRINKET POT ': 210,
 'SILK PURSE BABUSHKA PINK': 211,
 'HOT WATER BOTTLE I AM SO POORLY': 212,
 'CHOCOLATE HOT WATER BOTTLE': 213,
 'WHITE SKULL HOT WATER BOTTLE ': 214,
 'SCOTTIE DOG HOT WATER BOTTLE': 215,
 'BIRD HOUSE HOT WATER BOTTLE': 216,
 'BOUDOIR SQUARE TISSUE BOX': 217,
 'SKULLS SQUARE TISSUE BOX': 218,
 'PHOTO FRAME CORNICE': 219,
 'SILK PURSE BABUSHKA RED': 220,
 'PICTURE DOMINOES': 221,
 'S/6 SEW ON CROCHET FLOWERS': 222,
 'SCANDINAVIAN REDS RIBBONS': 223,
 'BALLOONS  WRITING SET ': 224,
 'LAVENDER INCENSE IN TIN': 225,
 'TV DINNER TRAY VINTAGE PAISLEY': 226,
 'SET OF 4 ENGLISH ROSE PLACEMATS': 227,
 'SET OF 4 ENGLISH ROSE COASTERS': 228,
 'TRIPLE PHOTO FRAME CORNICE ': 229,
 'FAMILY PHOTO FRAME CORNICE': 230,
 'MIRRORED DISCO BALL ': 231,
 'DISCO BALL ROTATOR BATTERY OPERATED': 232,
 'SILVER LOOKING MIRROR': 233,
 'LADIES & GENTLEMEN METAL SIGN': 234,
 'METAL SIGN HER DINNER IS SERVED ': 235,
 'DOORMAT TOPIARY': 236,
 'BATHROOM METAL SIGN': 237,
 'KITCHEN METAL SIGN': 238,
 'TOILET METAL SIGN': 239,
 'METAL SIGN TAKE IT OR LEAVE IT ': 240,
 "I'M ON HOLIDAY METAL SIGN": 241,
 'GROW YOUR OWN BASIL IN ENAMEL MUG': 242,
 'SET/10 PINK POLKADOT PARTY CANDLES': 243,
 'SET 20 NAPKINS FAIRY CAKES DESIGN ': 244,
 'SET OF 6 T-LIGHTS SNOWMEN': 245,
 'SET OF 6 T-LIGHTS SANTA': 246,
 'SET OF 9 HEART SHAPED BALLOONS': 247,
 'SANDWICH BATH SPONGE': 248,
 'APPLE BATH SPONGE': 249,
 'STRAWBERRY BATH SPONGE ': 250,
 'BLACK PIRATE TREASURE CHEST': 251,
 'STAR PORTABLE TABLE LIGHT ': 252,
 'SNOWFLAKE PORTABLE TABLE LIGHT ': 253,
 'PINK OVAL JEWELLED MIRROR': 254,
 'RETROSPOT CIGAR BOX MATCHES ': 255,
 'COSY HOUR GIANT TUBE MATCHES': 256,
 'JAZZ HEARTS PURSE NOTEBOOK': 257,
 'CANDLEHOLDER PINK HANGING HEART': 258,
 'ASSORTED COLOUR MINI CASES': 259,
 'LUNCH BAG SPACEBOY DESIGN ': 260,
 'LUNCH BAG WOODLAND': 261,
 'LUNCH BAG PINK POLKADOT': 262,
 'GUMBALL COAT RACK': 263,
 'BLUE NEW BAROQUE CANDLESTICK CANDLE': 264,
 'PINK NEW BAROQUECANDLESTICK CANDLE': 265,
 'FAIRY CAKE FLANNEL ASSORTED COLOUR': 266,
 'BREAD BIN DINER STYLE PINK': 267,
 'TEA TIME TABLE CLOTH': 268,
 'HOT WATER BOTTLE BABUSHKA ': 269,
 'HEART IVORY TRELLIS SMALL': 270,
 'PINK DRAWER KNOB ACRYLIC EDWARDIAN': 271,
 'GREEN DRAWER KNOB ACRYLIC EDWARDIAN': 272,
 'BLUE DRAWER KNOB ACRYLIC EDWARDIAN': 273,
 'SET 6 FOOTBALL CELEBRATION CANDLES': 274,
 'SET OF 6 GIRLS CELEBRATION CANDLES': 275,
 'ROMANTIC PINKS RIBBONS ': 276,
 'BRIGHT BLUES RIBBONS ': 277,
 'CHOCOLATE BOX RIBBONS ': 278,
 'PARTY INVITES FOOTBALL': 279,
 'PARTY INVITES JAZZ HEARTS': 280,
 'PARTY INVITES SPACEMAN': 281,
 'SET OF 3 BUTTERFLY COOKIE CUTTERS': 282,
 'SET OF 3 HEART COOKIE CUTTERS': 283,
 '3 PIECE SPACEBOY COOKIE CUTTER SET': 284,
 'PACK OF 72 SKULL CAKE CASES': 285,
 'PACK OF 60 SPACEBOY CAKE CASES': 286,
 '72 SWEETHEART FAIRY CAKE CASES': 287,
 'LUNCH BAG SUKI  DESIGN ': 288,
 'LUNCH BAG CARS BLUE': 289,
 'LUNCH BAG  BLACK SKULL.': 290,
 'HEART IVORY TRELLIS LARGE': 291,
 'SET/5 RED RETROSPOT LID GLASS BOWLS': 292,
 'MAGIC DRAWING SLATE DINOSAUR': 293,
 'MAGIC DRAWING SLATE BAKE A CAKE ': 294,
 '12 PENCILS TALL TUBE SKULLS': 295,
 'RED  HARMONICA IN BOX ': 296,
 'BLUE HARMONICA IN BOX ': 297,
 'SKULLS  WATER TRANSFER TATTOOS ': 298,
 'PACK 3 BOXES BIRD PANNETONE ': 299,
 'SET OF 20 KIDS COOKIE CUTTERS': 300,
 '10 COLOUR SPACEBOY PEN': 301,
 'VICTORIAN GLASS HANGING T-LIGHT': 302,
 'SINGLE HEART ZINC T-LIGHT HOLDER': 303,
 'HANGING METAL STAR LANTERN': 304,
 'SILVER HANGING T-LIGHT HOLDER': 305,
 'DOORMAT RED RETROSPOT': 306,
 'DOORMAT HEARTS': 307,
 'NATURAL SLATE RECTANGLE CHALKBOARD': 308,
 'LOVEBIRD HANGING DECORATION WHITE ': 309,
 'PENS ASSORTED FUNNY FACE': 310,
 'CARD CIRCUS PARADE': 311,
 'WRAP COWBOYS  ': 312,
 'AIRLINE BAG VINTAGE TOKYO 78': 313,
 'SET OF 72 RETROSPOT PAPER  DOILIES': 314,
 'PLASTERS IN TIN SKULLS': 315,
 'SLEEPING CAT ERASERS': 316,
 'CARD BIRTHDAY COWBOY': 317,
 'PACK 3 BOXES CHRISTMAS PANNETONE': 318,
 'ROTATING SILVER ANGELS T-LIGHT HLDR': 319,
 'RIBBON REEL MAKING SNOWMEN ': 320,
 '4 TRADITIONAL SPINNING TOPS': 321,
 'BAG 500g SWIRLY MARBLES': 322,
 '5 STRAND GLASS NECKLACE CRYSTAL': 323,
 'SQUARECUSHION COVER PINK UNION FLAG': 324,
 'SPACEBOY CHILDRENS EGG CUP': 325,
 "CHILDREN'S SPACEBOY MUG": 326,
 'FELTCRAFT CUSHION OWL': 327,
 'BLACK CANDELABRA T-LIGHT HOLDER': 328,
 'TOY TIDY DOLLY GIRL DESIGN': 329,
 'SET 12 LAVENDER  BOTANICAL T-LIGHTS': 330,
 'UNION JACK FLAG LUGGAGE TAG': 331,
 'RED HEART LUGGAGE TAG': 332,
 'RED GLASS TASSLE BAG CHARM': 333,
 'CLEAR ACRYLIC FACETED BANGLE': 334,
 'DOORMAT UNION JACK GUNS AND ROSES': 335,
 'VANILLA SCENT CANDLE JEWELLED BOX': 336,
 'FULL ENGLISH BREAKFAST PLATE': 337,
 'MAGIC DRAWING SLATE CIRCUS PARADE  ': 338,
 'CHRISTMAS HANGING HEART WITH BELL': 339,
 'CAKE STAND VICTORIAN FILIGREE MED': 340,
 'PAISLEY PATTERN  STICKERS': 341,
 'FLOWERS  STICKERS': 342,
 'BLACK LOVE BIRD CANDLE': 343,
 'PARTY TIME PENCIL ERASERS': 344,
 "PINK B'FLY C/COVER W BOBBLES": 345,
 'PINK UNION JACK  LUGGAGE TAG': 346,
 '6 RIBBONS ELEGANT CHRISTMAS ': 347,
 'AGED GLASS SILVER T-LIGHT HOLDER': 348,
 'BOOM BOX SPEAKER GIRLS': 349,
 '6 RIBBONS SHIMMERING PINKS ': 350,
 'JUMBO BAG OWLS': 351,
 'OWL DOORSTOP': 352,
 'PAINTED METAL STAR WITH HOLLY BELLS': 353,
 'PAINTED METAL HEART WITH HOLLY BELL': 354,
 'ANGEL DECORATION STARS ON DRESS': 355,
 'JUMBO BAG STRAWBERRY': 356,
 'STRAWBERRY SHOPPER BAG': 357,
 'ROUND SNACK BOXES SET OF 4 FRUITS ': 358,
 'ROUND SNACK BOXES SET OF 4 SKULLS': 359,
 'DOLLY GIRL LUNCH BOX': 360,
 'GREEN POLKADOT PLATE ': 361,
 'BLUE POLKADOT PLATE ': 362,
 'RED RETROSPOT PLATE ': 363,
 'PINK  POLKADOT PLATE ': 364,
 'FELTCRAFT DOLL MOLLY': 365,
 'FELTCRAFT CHRISTMAS FAIRY': 366,
 'SET OF 3 NOTEBOOKS IN PARCEL': 367,
 'RED RETROSPOT TAPE': 368,
 'COSY SLIPPER SHOES SMALL  RED ': 369,
 '6 RIBBONS RUSTIC CHARM': 370,
 '12 DAISY PEGS IN WOOD BOX': 371,
 '5 HOOK HANGER RED MAGIC TOADSTOOL': 372,
 'CHRISTMAS CRAFT TREE TOP ANGEL': 373,
 'CHRISTMAS CRAFT LITTLE FRIENDS': 374,
 'COSY SLIPPER SHOES SMALL GREEN': 375,
 'FELTCRAFT DOLL ROSIE': 376,
 'FELTCRAFT DOLL EMILY': 377,
 'FELTCRAFT PRINCESS OLIVIA DOLL': 378,
 'REX CASH+CARRY JUMBO SHOPPER': 379,
 'FELTCRAFT CUSHION RABBIT': 380,
 'FELTCRAFT CUSHION BUTTERFLY': 381,
 'TOTE BAG I LOVE LONDON': 382,
 'FOLDING UMBRELLA PINKWHITE POLKADOT': 383,
 'FOLDING UMBRELLA CREAM POLKADOT': 384,
 'FOLDING UMBRELLA WHITE/RED POLKADOT': 385,
 'SET 10 LIGHTS NIGHT OWL': 386,
 'FOLDING UMBRELLA RED/WHITE POLKADOT': 387,
 'S/4 VALENTINE DECOUPAGE HEART BOX': 388,
 'SOLDIERS EGG CUP ': 389,
 'RED RETROSPOT MINI CASES': 390,
 '60 CAKE CASES VINTAGE CHRISTMAS': 391,
 'RIBBON REEL CHRISTMAS SOCK BAUBLE': 392,
 'RIBBON REEL SNOWY VILLAGE': 393,
 'SET OF 20 VINTAGE CHRISTMAS NAPKINS': 394,
 'TURQUOISE CHRISTMAS TREE ': 395,
 'RED STAR CARD HOLDER': 396,
 'WICKER WREATH SMALL': 397,
 'ADVENT CALENDAR GINGHAM SACK': 398,
 'FELTCRAFT BUTTERFLY HEARTS': 399,
 'PARTY CONE CHRISTMAS DECORATION ': 400,
 'WICKER STAR ': 401,
 'VINTAGE SNAP CARDS': 402,
 'FELTCRAFT 6 FLOWER FRIENDS': 403,
 'BIRD DECORATION RED RETROSPOT': 404,
 'CHRISTMAS GINGHAM TREE': 405,
 'CHRISTMAS GINGHAM STAR': 406,
 'CHRISTMAS GINGHAM HEART': 407,
 'PACK OF 12 PINK POLKADOT TISSUES': 408,
 'FELTCRAFT PRINCESS LOLA DOLL': 409,
 'PACK OF 12 LONDON TISSUES ': 410,
 'PURPLE DRAWERKNOB ACRYLIC EDWARDIAN': 411,
 "CHILDREN'S APRON DOLLY GIRL ": 412,
 'CHILDRENS APRON SPACEBOY DESIGN': 413,
 'CHRISTMAS LIGHTS 10 SANTAS ': 414,
 'PACK OF 60 MUSHROOM CAKE CASES': 415,
 '60 CAKE CASES DOLLY GIRL DESIGN': 416,
 'HAND WARMER BABUSHKA DESIGN': 417,
 'SET 12 RETRO WHITE CHALK STICKS': 418,
 'FELTCRAFT HAIRBAND RED AND BLUE': 419,
 'FELTCRAFT HAIRBAND PINK AND PURPLE': 420,
 'FELTCRAFT HAIRBANDS PINK AND WHITE ': 421,
 'TV DINNER TRAY DOLLY GIRL': 422,
 'PLASTERS IN TIN VINTAGE PAISLEY ': 423,
 'PLASTERS IN TIN SPACEBOY': 424,
 'PLASTERS IN TIN WOODLAND ANIMALS': 425,
 'MAGIC DRAWING SLATE SPACEBOY ': 426,
 'MAGIC DRAWING SLATE GO TO THE FAIR ': 427,
 'MAGIC DRAWING SLATE DOLLY GIRL ': 428,
 'CHARLIE + LOLA RED HOT WATER BOTTLE': 429,
 'URBAN BLACK RIBBONS ': 430,
 'SET OF 6 T-LIGHTS TOADSTOOLS': 431,
 'ROTATING LEAVES T-LIGHT HOLDER': 432,
 'CUPCAKE LACE PAPER SET 6': 433,
 'TRADITIONAL WOODEN CATCH CUP GAME ': 434,
 'S/6 WOODEN SKITTLES IN COTTON BAG': 435,
 'RED METAL BEACH SPADE ': 436,
 'BOYS VINTAGE TIN SEASIDE BUCKET': 437,
 'GIRLS VINTAGE TIN SEASIDE BUCKET': 438,
 'GREY HEART HOT WATER BOTTLE': 439,
 'KINGS CHOICE TEA CADDY ': 440,
 'KINGS CHOICE BISCUIT TIN': 441,
 'METAL SIGN EMPIRE TEA': 442,
 'FAWN BLUE HOT WATER BOTTLE': 443,
 'PACK OF 6 BIRDY GIFT TAGS': 444,
 'CERAMIC STRAWBERRY MONEY BOX': 445,
 'CERAMIC HEART FAIRY CAKE MONEY BANK': 446,
 'CERAMIC PIRATE CHEST MONEY BANK': 447,
 'DOORSTOP RETROSPOT HEART': 448,
 'RETROSPOT BABUSHKA DOORSTOP': 449,
 'SWEETHEART WIRE WALL TIDY': 450,
 'RED RETROSPOT OVEN GLOVE ': 451,
 'NAMASTE SWAGAT INCENSE': 452,
 'CERAMIC STRAWBERRY DESIGN MUG': 453,
 'CLASSICAL ROSE SMALL VASE': 454,
 'HYACINTH BULB T-LIGHT CANDLES': 455,
 'CHRISTMAS CRAFT WHITE FAIRY ': 456,
 'COSY HOUR CIGAR BOX MATCHES ': 457,
 'RED TEA TOWEL CLASSIC DESIGN': 458,
 'HEART FILIGREE DOVE  SMALL': 459,
 'RETROSPOT CHILDRENS APRON': 460,
 'COLOURING PENCILS BROWN TUBE': 461,
 '4 IVORY DINNER CANDLES SILVER FLOCK': 462,
 'ZINC METAL HEART DECORATION': 463,
 'GREEN FERN NOTEBOOK': 464,
 'BLUE PAISLEY NOTEBOOK': 465,
 'CHRYSANTHEMUM NOTEBOOK': 466,
 'LARGE CHINESE STYLE SCISSOR': 467,
 'SMALL CHINESE STYLE SCISSOR': 468,
 'HANGING GLASS ETCHED TEALIGHT': 469,
 'COOKING SET RETROSPOT': 470,
 'KINGS CHOICE GIANT TUBE MATCHES': 471,
 'PLACE SETTING WHITE STAR': 472,
 'S/15 SILVER GLASS BAUBLES IN BAG': 473,
 'FRENCH WC SIGN BLUE METAL': 474,
 'FAIRY SOAP SOAP HOLDER': 475,
 'GREEN GIANT GARDEN THERMOMETER': 476,
 'BLUE GIANT GARDEN THERMOMETER': 477,
 'VICTORIAN SEWING BOX SMALL ': 478,
 'VICTORIAN SEWING BOX MEDIUM': 479,
 'SET/10 RED POLKADOT PARTY CANDLES': 480,
 'WASHROOM METAL SIGN': 481,
 'BLACK SWEETHEART BRACELET': 482,
 'DIAMANTE HAIR GRIP PACK/2 BLACK DIA': 483,
 'BLACK DIAMANTE EXPANDABLE RING': 484,
 'DIAMANTE HAIR GRIP PACK/2 RUBY': 485,
 'DIAMANTE HAIR GRIP PACK/2 MONTANA': 486,
 'BLUE SWEETHEART BRACELET': 487,
 'PINK SWEETHEART BRACELET': 488,
 'PURPLE SWEETHEART BRACELET': 489,
 'RIBBON REEL CHRISTMAS PRESENT ': 490,
 'FIRST AID TIN': 491,
 'MAKE YOUR OWN MONSOON CARD KIT': 492,
 'PACK OF 12 HEARTS DESIGN TISSUES ': 493,
 'HEART FILIGREE DOVE LARGE': 494,
 'SWIRLY CIRCULAR RUBBERS IN BAG': 495,
 'VINTAGE PAISLEY STATIONERY SET': 496,
 'SET/10 BLUE POLKADOT PARTY CANDLES': 497,
 'RIBBON REEL SOCKS AND MITTENS': 498,
 'CHRISTMAS METAL TAGS ASSORTED ': 499,
 'CHRISTMAS TREE T-LIGHT HOLDER': 500,
 'STAR  T-LIGHT HOLDER ': 501,
 'HEART T-LIGHT HOLDER ': 502,
 'MINI FUNKY DESIGN TAPES': 503,
 'STAR WOODEN CHRISTMAS DECORATION': 504,
 'WOODEN HEART CHRISTMAS SCANDINAVIAN': 505,
 'CHRISTMAS RETROSPOT TREE WOOD': 506,
 'SET/9 CHRISTMAS T-LIGHTS SCENTED ': 507,
 'BLUE ROSE FABRIC MIRROR': 508,
 'THREE CANVAS LUGGAGE TAGS': 509,
 'RETROSPOT PARTY BAG + STICKER SET': 510,
 'RETROSPOT SMALL TUBE MATCHES': 511,
 '3D CHRISTMAS STAMPS STICKERS ': 512,
 '36 FOIL HEART CAKE CASES': 513,
 'PACK OF 6 SWEETIE GIFT BOXES': 514,
 'CINAMMON SET OF 9 T-LIGHTS': 515,
 'ORANGE SCENTED SET/9 T-LIGHTS': 516,
 'RIBBON REEL STRIPES DESIGN ': 517,
 'SET OF 2 TINS JARDIN DE PROVENCE': 518,
 'MAKE YOUR OWN PLAYTIME CARD KIT': 519,
 'DINOSAURS  WRITING SET ': 520,
 'SKULLS WRITING SET ': 521,
 'DOORMAT BLACK FLOCK ': 522,
 'CHRISTMAS DECOUPAGE CANDLE': 523,
 'OFFICE MUG WARMER POLKADOT': 524,
 'BLACK RECORD COVER FRAME': 525,
 'RECORD FRAME 7" SINGLE SIZE ': 526,
 '36 PENCILS TUBE RED RETROSPOT': 527,
 '36 PENCILS TUBE WOODLAND': 528,
 'ROCKING HORSE RED CHRISTMAS ': 529,
 'REGENCY CAKESTAND 3 TIER': 530,
 'VINTAGE UNION JACK BUNTING': 531,
 'RETRO LONGBOARD IRONING BOARD COVER': 532,
 '3D DOG PICTURE PLAYING CARDS': 533,
 'SAVE THE PLANET COTTON TOTE BAG': 534,
 'PAPER BUNTING WHITE LACE': 535,
 'GENTLEMAN SHIRT REPAIR KIT ': 536,
 'CARD I LOVE LONDON ': 537,
 'MIRRORED WALL ART FOXY': 538,
 'MIRRORED WALL ART GENTS': 539,
 'AIRLINE BAG VINTAGE JET SET WHITE': 540,
 "POTTING SHED SOW 'N' GROW SET": 541,
 'AIRLINE BAG VINTAGE WORLD CHAMPION ': 542,
 'PINK HEARTS PAPER GARLAND': 543,
 'POTTING SHED SEED ENVELOPES': 544,
 'HI TEC ALPINE HAND WARMER': 545,
 'POLYESTER FILLER PAD 45x45cm': 546,

In [29]:
user_data["Product_id"] = user_data["Description"]
user_data["Product_id"] = user_data["Product_id"].map(desc_dict)
user_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Amount,days_last_purchase,days_last_purchase_num,Product_id
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,374 days 04:24:00,374.0,1
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,374 days 04:24:00,374.0,2
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,374 days 04:24:00,374.0,3
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,374 days 04:24:00,374.0,4
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,374 days 04:24:00,374.0,5