In [2]:
#Without List Comprehension
series_num = []
for i in range(1, 11):
    series_num.append(i*i)
print(series_num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#With List Comprehension
sq_num_series = [ i*i for i in range(1, 11) ]
print(sq_num_series)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
#Without List Comprehension
item_prices = [3.4, 2, 5.6, 8, 10, 4.5]
for elements in item_prices:
    print(elements * 2)

6.8
4
11.2
16
20
9.0

In [5]:
#With List Comprehension
item_prices = [3.4, 2, 5.6, 8, 10, 4.5]
result = [ elements * 2 for elements in item_prices ]
print(result)
print(type(result))

[6.8, 4, 11.2, 16, 20, 9.0]
<class 'list'>

In [6]:
products = ["Dairy", "Bakery", "Grocery", "Clothing", "Grocery"]
first_letter = [ v[0] for v in products ]
print(first_letter)

['D', 'B', 'G', 'C', 'G']

In [7]:
text = 'Eddy employee id is 10051 and his salary is 2000 dollars'
numbers = [ int(i) for i in text.split() if i.isdigit() == True ]
print(numbers)

[10051, 2000]

In [7]:
sentence = 'I will steer my boat, I will find my way'
vowels = [ vowel for vowel in sentence if vowel in 'aeiouAEIOU' ]
print(vowels)
print(len(vowels))

['I', 'i', 'e', 'e', 'o', 'a', 'I', 'i', 'i', 'a']
10

In [14]:
Products = ["Apparels", "Crokeries", "Cosmetics", "Beverages", "Detergents"]
Discount = [ 10 if p == "Apparels" else 15 if p == "Crokeries" else 20 for p in Products ]
print(Discount)

[10, 15, 20, 20, 20]

In [13]:
Products = ["Apparels", "Crokeries", "Cosmetics", "Beverages", "Detergents"]
Products1 = [ p for p in Products if len(p) > 9 ]
print(Products1)

['Detergents']

In [16]:
def SayHello():
    print("Hello Everyone!")

SayHello()

Hello Everyone!

In [18]:
def Greet(name):
    print("Hello ", name, " Welcome to Python Coding!")

Greet("Zubu")
nm = input("Enter your name: ")
Greet(nm)

Hello  Zubu  Welcome to Python Coding!
Enter your name: Rohan
Hello  Rohan  Welcome to Python Coding!

In [19]:
def Addition(num1, num2):
    return num1 + num2

summation = Addition(56, 112)
print("The sum is: ", summation)

The sum is:  168

In [20]:
def Addition(num1, num2):
    result = num1 + num2
    return 

summation = Addition(56, 112)
print("The sum is: ", summation)

The sum is:  None

In [22]:
def reg_arg(num1, num2):
    print("First argument is ", num1)
    print("Second argument is", num2)
    
reg_arg(45, 65)

n1 = 20
n2 = 50
reg_arg(n2, n1)

First argument is  45
Second argument is 65
First argument is  50
Second argument is 20

In [23]:
Greet("Rose") #Positional passing of parameters
Greet(name="John") #Keyword passing of parameters

Hello  Rose  Welcome to Python Coding!
Hello  John  Welcome to Python Coding!

In [24]:
def employee(name, designation):
    print("Employee name is ", name)
    print("Designation is ", designation)
employee("John", "Manager")
employee(designation = "Analyst", name="Sachin")

Employee name is  John
Designation is  Manager
Employee name is  Sachin
Designation is  Analyst

In [25]:
def emp(name, salary=400000): #Default argument
    print("Employee name is ", name)
    print("Salary is ", salary)

emp("Rahul", 700000)
emp("Harry")

Employee name is  Rahul
Salary is  700000
Employee name is  Harry
Salary is  400000

In [28]:
def calsum(*numbers):
    result = 0
    for num in numbers:
        result += num
    print(result)

calsum(1, 2, 3)
calsum(1, 2, 3, 4, 5)
calsum(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

6
15
55

In [30]:
def Em(**details):
    print(type(details))
    for k, v in details.items():
        print(k, '-->', v)
        
Em(first_name="Viren", salary=90000, designation="Programmer")

<class 'dict'>
first_name --> Viren
salary --> 90000
designation --> Programmer

In [31]:
#without lambda
def greater(num1, num2):
    if num1 > num2:
        return num1
    else:
        return num2
    
great = greater(58, 118)
great

118

In [32]:
#with lambda
greater = lambda num1, num2: num1 if num1 > num2 else num2
greater(92, 48)

92

In [33]:
num_list = list(range(1, 11))
sq_list = list(map(lambda x: x**2, num_list))

print(sq_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
num_list = list(range(1, 11))
sq_list = list(filter(lambda x: x%2 == 0, num_list))

print(sq_list)

[2, 4, 6, 8, 10]

In [35]:
from functools import reduce

num_list = [1, 2, 3, 4, 5]
reduce(lambda a, b: a*b, num_list)

120

In [36]:
num_tuple = (10, -1, 100, 500, -40, 1000, 90, -325)
reduce(lambda x, y: x if x < y else y, num_tuple)

-325