In [1]:
print("Hello Everyone")

Hello Everyone

In [9]:
x = 20              #int
y = 'Hello'         #char
z = True            #boolean
a = 5.45            #float

print(type(x))
print(type(y))
print(type(z))
print(type(a))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [11]:
if y == 'Hello' or a == 5.55:
    x = x + 1
    y = y + ' World'

if y == 'Hello' and a == 5.55:
    x = x + 1
    y = y + ' World'
    
print(x)
print(y)

21
Hello World

In [12]:
b = 50
b = 40
b = 90
print(b)

90

In [13]:
name = 'John'
friend_name = name
print(name)
print(friend_name)

John
John

In [16]:
fs = ss = ts = fos = fis = 25
print("The Age of the first student is ", fs)
print(fis)

The Age of the first student is  25
25

In [17]:
fs, ss, ts, fos, fis = 25, 24, 28, 23, 21
print("The Age of the first student is ", fs)
print(fis)

The Age of the first student is  25
21

In [19]:
s1 = "Harry"
s2 = "This is 4 U"
s3 = "123"
s4 = "uygtyguguii@$^ 253646"

print(type(s4))

<class 'str'>

In [21]:
a = 10
b = '20'
res = a + int(b)
print(res)

30

In [24]:
sales_price_per_unit = 4.5
number_of_units = 5

result = 0
type(result)

result = sales_price_per_unit * number_of_units
print(result)
type(result)

22.5

float

In [28]:
n1, n2 = 0, 1
print(bool(n1))
print(bool(n2))

False
True

In [1]:
name = input("Please enter your name: ")
print("Welcome, ", name)
print(type(name))

Please enter your name: Rohan
Welcome,  Rohan
<class 'str'>

In [35]:
print("Hello\n", "Mr.Thomas", sep = "-")
print("Welcome to \t Python")

Hello
-Mr.Thomas
Welcome to 	 Python

In [38]:
print("Sam's age is " + str(25))

Sam's age is 25

In [2]:
c1 = "Singapore "
c = 3
r = c1 * c
print(r)

Singapore Singapore Singapore