In [1]:
total_cost = 2000
quantity = 100
price_per_unit = total_cost / quantity
print(price_per_unit)

20.0

In [2]:
total_cost = 2000
quantity = 100
price_per_unit = total_cost // quantity
print(price_per_unit)

20

In [3]:
result = 3 ** 3
print(result)

27

In [6]:
price = int(input("Enter the price: "))
quantity = input("Enter the quantity: ")

total_cost = price * int(quantity)
print("The total cost is ", total_cost)

Enter the price: 500
Enter the quantity: 5
The total cost is  2500

In [7]:
ketty_age = 28
kenny_age = 25

ketty_age > kenny_age

True

In [11]:
is_student = True
in_college = True
in_school = False

is_student and in_college

is_student or in_school

is_student and in_school

not(in_school)

True

In [15]:
vowels = "aeiou"

print("u" in vowels)
print("x" in vowels)

print("u" not in vowels)
print("x" not in vowels)

True
False
False
True

In [17]:
number = 10

(number % 2 == 0) & (number % 3 == 0)
(number % 2 == 0) | (number % 3 == 0)

True

In [28]:
a = 10
# a += 1
# a -= 1
# a /= 2
# a *= 3
print(a)

30

In [33]:
num = -8

if num > 0:
    print(num, " is greater than 0")
else:
    print(num, " is less than or equal to 0")
    
print("This message is always printed")

-8  is less than or equal to 0
This message is always printed

In [37]:
age = int(input("Enter age: "))

if 0 < age < 3:
    print("Bus fare is 3")
elif 3 < age < 10:
    print("Bus fare is 10")
elif 10 < age < 20:
    print("Bus fare is 15")
else:
    print("Bus fare is 25")

Enter age: 2
Bus fare is 3

In [43]:
user_id = input("Enter User ID: ")
password = input("Enter password: ")
if user_id == "John":
    if password == "Brown123":
        print("Password Accepted. Succesful login!")
    else:
        print("Incorrect password! Please enter the correct password.")
else:
    print("Invalid User ID!")

Enter User ID: John
Enter password: Brown123
Password Accepted. Succesful login!

In [44]:
num = 10
addition = 0
i = 1

while i <= num:
    addition += i
    i += 1

print("Addition is ", addition)

Addition is  55

In [47]:
number = range(1,11)
addition = 0

for i in number:
    addition += i

print("Addition is ", addition)

Addition is  55

In [48]:
number = range(1,11)

for i in number:
    if i == 5:
        break
    else:
        print(i)

1
2
3
4

In [49]:
number = range(1,11)

for i in number:
    if i == 5:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9
10

In [50]:
levels = int(input("Enter the number of levels: "))

for i in range(1, levels + 1):
    for j in range(i):
        print(i, end = " ")
    print("\n")

Enter the number of levels: 5
1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [53]:
#Case study 1(Counter controlled repitition): Class average program

total = 0
gradeCounter = 1

while gradeCounter <= 10:
    grade = int(input("Enter grade:"))
    total += grade
    gradeCounter += 1

average = total/gradeCounter;

print("Class average is: ", average)

Enter grade:70
Enter grade:60
Enter grade:70
Enter grade:0
Enter grade:70
Enter grade:60
Enter grade:80
Enter grade:70
Enter grade:80
Enter grade:90
Class average is:  59.09090909090909

In [62]:
#Case study 2(Sentinal controlled repitition): Class average program

#initialization phase
total = 0
gradeCounter = 0

#Processing phase
grade = int(input("Enter Grade, -1 to end: ")) #get one grade

while grade != -1:
    total += grade
    gradeCounter += 1
    grade = int(input("Enter Grade, -1 to end: "))  

#termination phase    
if gradeCounter != 0:
    average = total/gradeCounter
    print("Class average is ",average)
else:
    print("No grades were entered")

Enter Grade, -1 to end: 90
Enter Grade, -1 to end: 80
Enter Grade, -1 to end: 90
Enter Grade, -1 to end: -1
Class average is  86.66666666666667

In [1]:
text = "I Love Python"

print(text[7])
print(text[-1])

print(text[:6])
print(text[2:])
print(text[7:13])
print(text[1::2])
print(text[1:-2])
print(text[::-1])
print(text[::-1][-3])

P
n
I Love
Love Python
Python
 oePto
 Love Pyth
nohtyP evoL I
L

In [76]:
text.replace("Python", "Data Science")

'I Love Data Science'

In [78]:
text.upper()

'I LOVE PYTHON'

In [79]:
text.lower()

'i love python'

In [80]:
text.title()

'I Love Python'

In [81]:
date = "13", "10", "2021"
s = "-"
s.join(date)

'13-10-2021'

In [83]:
text = "?????Python?for?data?science?????"
text.strip("?")

'Python?for?data?science'