In [3]:
book_list = ["R", "Python", "SAS", "Hadoop", "Java"]

print(book_list)
print(book_list[3])
type(book_list)

['R', 'Python', 'SAS', 'Hadoop', 'Java']
Hadoop

list

In [5]:
data_science_books = ["R", "Python", "SAS", "Hadoop", "Java"]
novels = ["Lord of the Rings", "Harry Porter and the Half Blood Prince", "The Hardy Boys"]

library = data_science_books + novels
print(library)
type(library)

novels.append("Jumanji")
print(novels)

['R', 'Python', 'SAS', 'Hadoop', 'Java', 'Lord of the Rings', 'Harry Porter and the Half Blood Prince', 'The Hardy Boys']
['Lord of the Rings', 'Harry Porter and the Half Blood Prince', 'The Hardy Boys', 'Jumanji']

In [9]:
data_science_books = ["R", "Python", "SAS", "Hadoop", "Java"]
avg_prices = [40, 56, 70.2, 40, 100, 20]

data_science_books.sort()
avg_prices.sort(reverse=True)

print(data_science_books)
print(avg_prices)

['Hadoop', 'Java', 'Python', 'R', 'SAS']
[100, 70.2, 56, 40, 40, 20]

In [10]:
data_science_books = ["R", 56, "Python", "SAS", 34.5]
data_science_books.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [14]:
avg_prices = [40, 56, 70.2, 40, 100, 20]

new_avg_prices = sorted(avg_prices, reverse=True)

print(avg_prices)
print(new_avg_prices)

[40, 56, 70.2, 40, 100, 20]
[100, 70.2, 56, 40, 40, 20]

In [15]:
data_science_books = ["R", "Python", "SAS", "Hadoop", "Java"]
avg_prices = [40, 56, 70.2, 40, 100, 20]

print("SAS" in data_science_books)
print("Spark" in data_science_books)
print("Spark" not in data_science_books)

print(100 in avg_prices)
print(102 not in avg_prices)

True
False
True
True
True

In [17]:
data_science_books = ["R", "Python", "SAS", "Hadoop", "Java"]

for book in data_science_books:
    print(book)

R
Python
SAS
Hadoop
Java

In [20]:
avg_prices = [40, 56, 70.2, 40, 100, 20]

len(avg_prices)
min(avg_prices)
max(avg_prices)

100

In [21]:
avg_prices = [40, 56, 70.2, 40, 100, 20]

print(avg_prices)
avg_prices.clear()
print(avg_prices)

[40, 56, 70.2, 40, 100, 20]
[]

In [22]:
Retail_Products = ["Beverages", "Cereals", "Detergents"]
New_Products_List = Retail_Products.copy() #Shallow copy - Different list objects
print(Retail_Products)
print(New_Products_List)

New_Products_List.append("Floor Cleaners")
print(Retail_Products)
print(New_Products_List)

['Beverages', 'Cereals', 'Detergents']
['Beverages', 'Cereals', 'Detergents']
['Beverages', 'Cereals', 'Detergents']
['Beverages', 'Cereals', 'Detergents', 'Floor Cleaners']

In [24]:
Retail_Products = ["Beverages", "Cereals", "Detergents"]
New_Products_List = Retail_Products #Reference Copy - Share same value in same address space
print(Retail_Products)
print(New_Products_List)

New_Products_List.append("Floor Cleaners")
print(Retail_Products)
print(New_Products_List)

Retail_Products.remove("Cereals")
print(Retail_Products)
print(New_Products_List)

['Beverages', 'Cereals', 'Detergents']
['Beverages', 'Cereals', 'Detergents']
['Beverages', 'Cereals', 'Detergents', 'Floor Cleaners']
['Beverages', 'Cereals', 'Detergents', 'Floor Cleaners']
['Beverages', 'Detergents', 'Floor Cleaners']
['Beverages', 'Detergents', 'Floor Cleaners']

In [25]:
avg_prices = [40, 56, 70.2, 40, 100, 20]

avg_prices.count(40)

2

In [26]:
data_science_books = ["R", "Python", "SAS", "Hadoop", "Java"]
novels = ["Lord of the Rings", "Harry Porter and the Half Blood Prince", "The Hardy Boys"]

data_science_books.extend(novels) #change structure of data_science_books
print(data_science_books)

['R', 'Python', 'SAS', 'Hadoop', 'Java', 'Lord of the Rings', 'Harry Porter and the Half Blood Prince', 'The Hardy Boys']

In [27]:
ds = ["R", "Python", "SAS", "Hadoop", "Java"]

ds.insert(2, "SPSS")

print(ds)

['R', 'Python', 'SPSS', 'SAS', 'Hadoop', 'Java']

In [28]:
ds = ["R", "Python", "SAS", "Hadoop", "Java"]

ds.pop(3)

print(ds)

['R', 'Python', 'SAS', 'Java']

In [30]:
ds = ["R", "Python", "SAS", "Hadoop", "Java"]

ds.reverse()

print(ds)

['Java', 'Hadoop', 'SAS', 'Python', 'R']

In [31]:
avg_prices = [40, 56, 70.2, 40, 100, 20]

avg_prices.reverse()
print(avg_prices)

avg_prices.sort(reverse=True)
print(avg_prices)

[20, 100, 40, 70.2, 56, 40]
[100, 70.2, 56, 40, 40, 20]

In [36]:
s = ["R", "Python", "SAS", "Hadoop", "Java"]
print(s[3])
print(s[-3])
print(s[3:5]) #index, position/index-1 end i.e starting position is 1
print(s[-3:-1]) #third last index to second last index will print

Hadoop
SAS
['Hadoop', 'Java']
['SAS', 'Hadoop']

In [37]:
item_purchased = ("Tea", "Coffee", "Sugar", "Noodles", "Bread", 2.70, 3.20, 5, 3, 10)

print(item_purchased)

type(item_purchased)

('Tea', 'Coffee', 'Sugar', 'Noodles', 'Bread', 2.7, 3.2, 5, 3, 10)

tuple

In [38]:
item_purchased = "Tea", "Coffee", "Sugar", "Noodles", "Bread", 2.70, 3.20, 5, 3, 10

print(item_purchased)

type(item_purchased)

('Tea', 'Coffee', 'Sugar', 'Noodles', 'Bread', 2.7, 3.2, 5, 3, 10)

tuple

In [41]:
items_prices = (45, 20, 124.2, 50, 65, 35)

sorted(items_prices)
sorted(items_prices, reverse=True)

[124.2, 65, 50, 45, 35, 20]

In [42]:
order_rec = ("Pizza", "Cola")
n = 2
rep_order = order_rec * n
print(rep_order)

('Pizza', 'Cola', 'Pizza', 'Cola')

In [43]:
item_purchased = "Tea", "Coffee", "Sugar", "Noodles", "Bread", 2.70, 3.20, 5, 3, 10
order_rec = ("Pizza", "Cola")

new_tup = item_purchased + order_rec
print(new_tup)

('Tea', 'Coffee', 'Sugar', 'Noodles', 'Bread', 2.7, 3.2, 5, 3, 10, 'Pizza', 'Cola')

In [44]:
item_purchased = "Tea", "Coffee", "Sugar", "Noodles", "Bread", 2.70, 3.20, 5, 3, 10
print("Sugar" not in item_purchased)

False

In [46]:
item_purchased = "Tea", "Coffee", "Sugar", "Noodles", "Bread", 2.70, 3.20, 5, 3, 10

for i in item_purchased:
    print(i)

Tea
Coffee
Sugar
Noodles
Bread
2.7
3.2
5
3
10

In [47]:
item_purchased = "Tea", "Coffee", "Sugar", "Noodles", "Bread", 2.70, 3.20, 5, 3, 10

len(item_purchased)

10

In [49]:
items_prices = (45, 20, 124.2, 50, 65, 35)

print(min(items_prices))
print(max(items_prices))

20
124.2

In [52]:
items_prices = (45, 20, 124.2, 50, 65, 35, [10, 20, 30])
len(items_prices)

items_prices[6].append(40)
items_prices

(45, 20, 124.2, 50, 65, 35, [10, 20, 30, 40])

In [58]:
books = {"R": 500, "Python": 1200, "SAS": 1500}

print("Price of R is ", books["R"])

books["R"] = 700

print("New Price of R is ", books["R"])

print(books)

Price of R is  500
New Price of R is  700
{'R': 700, 'Python': 1200, 'SAS': 1500}

In [59]:
books = {"R": 500, "Python": 1200, "SAS": 1500}

books["SPSS"] = 600
print(books)

{'R': 500, 'Python': 1200, 'SAS': 1500, 'SPSS': 600}

In [60]:
books = {"R": 500, "Python": 1200, "SAS": 1500}

del books["SAS"]
print(books)

{'R': 500, 'Python': 1200}

In [61]:
twister = "can you can a can as a canner can can a can"

word_count = {}

for word in twister.split():
    if word not in word_count:
        word_count[word] = 1
    else:
        word_count[word] += 1
        
print(word_count)

{'can': 6, 'you': 1, 'a': 3, 'as': 1, 'canner': 1}

In [63]:
from collections import defaultdict
twister = "can you can a can as a canner can can a can"

word_count = defaultdict(int)

for word in twister.split():
    word_count[word] += 1
        
print(word_count)

for k,v in word_count.items():
    print(k, v)

defaultdict(<class 'int'>, {'can': 6, 'you': 1, 'a': 3, 'as': 1, 'canner': 1})
can 6
you 1
a 3
as 1
canner 1

In [73]:
books = {"R": 500, "Python": 1200, "SAS": 1500}

len(books)
str(books)
type(books)
books.keys()
books.values()
books.items()
books.get("Python")
print("Price of python is ", books["Python"])
print("Price of python is ", books.get("SPSS"))

books.setdefault("SPSS", 600)
print(books)

Price of python is  1200
Price of python is  None
{'R': 500, 'Python': 1200, 'SAS': 1500, 'SPSS': 600}

In [75]:
tup = ('ord_id', 'cust_id', 'amount')

dict1 = dict.fromkeys(tup, 12)
print(dict1)

{'ord_id': 12, 'cust_id': 12, 'amount': 12}

In [76]:
books = {"R": 500, "Python": 1200, "SAS": 1500}

print(books)
del books["R"]
print(books)

{'R': 500, 'Python': 1200, 'SAS': 1500}
{'Python': 1200, 'SAS': 1500}

In [77]:
books = {"R": 500, "Python": 1200, "Python": 1700, "SAS": 1500}

print(books)

{'R': 500, 'Python': 1700, 'SAS': 1500}

In [78]:
item_names = ["Laptop", "Desktop", "Mobile"]
selling_price = [45000, 35000, 27000]

item_dict = dict(zip(item_names, selling_price))

print(item_dict)

{'Laptop': 45000, 'Desktop': 35000, 'Mobile': 27000}